body, html {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, sans-serif;
}

.hero-section {
    background: #1F2937;
    color: white;
    padding-top: 14px;
    
}

.header {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    gap: 20px;
    
}
a {
    text-decoration:none;
    color:lightgray; 
    font-size: 15px;
}

.logo {
    margin-right: 400px;
    letter-spacing: -1px;
    font-size: 24px;
    font-weight:900;
}

.hero {
    display: flex;
    margin-top: 80px;
    padding-bottom: 90px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

button {
    background-color: #3882F6;
    border: 0px;
    border-radius: 8px;
    color: white;
    padding: 7px 24px;
    text-align: center;
    font-weight: bolder;
}

img{
    height: 200px;
    width: 400px;
    flex-direction: row;
}

.main-text {
    font-size: 48px;
    font-weight:bolder;
    letter-spacing: -1.5px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    filter: contrast(50%);
}

.illustration-section {
    margin-bottom: 100px;
}

.sentence {
    font-size: 38px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: -1px;
    margin-bottom: 36px;
}
.container{
    background-color: white;
    height: 150px;
    width: 150px;
    border: 3px solid;
    border-radius: 10px;
    border-color: #3882F6;
}

ul.containers {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    gap: 40px;
}

ul.subtext {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    text-align: center;
    gap: 65.5px;
    font-size: 15px;
    filter: contrast(50%);
}



.subtext li {
    margin-top: -8px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: left;

}

.quote {
    font-size: 30px;
    font-style: italic;
    filter: contrast(30%);
    margin-bottom: 0;
}
.author {
    font-size: 26px;
    font-weight: bolder;
    margin-top: 0;
    margin-left: 350px;
}